.tweet {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tweet .userName {
  margin: 0;
  position: relative;
  top: -30px;
  font-weight: bold;
  font-size: 1.5em;
  color: #5e7e86;
}

.tweet header {
  margin-bottom: 30px;
  background-color: #f3f3f3;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 70px;
  padding: 10px;
}

.tweet:hover header {
  display: block;
}

.tweet header img {
  margin-right: 10px;
  border-radius: 5px;
  opacity: 0.5;
}

.tweet header .handle {
  float: right;
  color: #a1a1a1;
}

.tweet .tweetContent {
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}

.tweet footer {
  padding: 10px;
  border-top: 1px solid #eee;
  margin-top: 30px;
  height: 40px;
}

.tweet footer .timestamp {
  font-size: 12px;
}

.tweet footer .icons {
  float: right;
  font-size: 12px;
  color: #00a386;
  opacity: 0;
}

.tweet footer .icons i {
  padding-right: 5px;
}

.tweet:hover {
  border: 1px solid #6d6d6d;
}

.tweet:hover .userName {
  color: #164852;
}

.tweet:hover header {
  background-color: #eeeeee;
}

.tweet:hover header img {
  opacity: 1;
}

.tweet:hover header .handle {
  color: #7e7e7e;
}


.tweet:hover footer .icons {
  opacity: 1;
}

#errorMsg {
  color: #D8000C;
  background-color: #FFD2D2;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  line-height: 1.6;
}